
## <summary>policy for bitcoinold</summary>


########################################
## <summary>
##	Transition to bitcoinold.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`bitcoinold_domtrans',`
	gen_require(`
		type bitcoinold_t, bitcoinold_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, bitcoinold_exec_t, bitcoinold_t)
')


########################################
## <summary>
##	Execute bitcoinold server in the bitcoinold domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoinold_initrc_domtrans',`
	gen_require(`
		type bitcoinold_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, bitcoinold_initrc_exec_t)
')


########################################
## <summary>
##	Search bitcoinold lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoinold_search_lib',`
	gen_require(`
		type bitcoinold_var_lib_t;
	')

	allow $1 bitcoinold_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read bitcoinold lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoinold_read_lib_files',`
	gen_require(`
		type bitcoinold_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, bitcoinold_var_lib_t, bitcoinold_var_lib_t)
')

########################################
## <summary>
##	Manage bitcoinold lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoinold_manage_lib_files',`
	gen_require(`
		type bitcoinold_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, bitcoinold_var_lib_t, bitcoinold_var_lib_t)
')

########################################
## <summary>
##	Manage bitcoinold lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoinold_manage_lib_dirs',`
	gen_require(`
		type bitcoinold_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, bitcoinold_var_lib_t, bitcoinold_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	an bitcoinold environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`bitcoinold_admin',`
	gen_require(`
		type bitcoinold_t;
		type bitcoinold_initrc_exec_t;
		type bitcoinold_var_lib_t;
	')

	allow $1 bitcoinold_t:process { ptrace signal_perms };
	ps_process_pattern($1, bitcoinold_t)

	bitcoinold_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 bitcoinold_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, bitcoinold_var_lib_t)

')

